<html>
  <head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nikki's Resource Stop</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/bower_components/ngDialog/css/ngDialog.css">
    <link rel="stylesheet" href="/bower_components/ngDialog/css/ngDialog-theme-default.css">
    <style> .glyphicon-thumbs-up,.glyphicon-thumbs-down { cursor:pointer } 

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after
{
  display: none; 
  content: " ";
}
body{
   /* min-height: 2000px;*/
    /*padding-top: 60px;*/
    /*background-image : url('http://www.bestinspired.com/wp-content/uploads/2015/04/nature-images.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-color: #F0F8FF;
    font-size: 100%;*/

}

@media (max-width: 400px) {
 html, body { font-size: 15px; background-color: #F0F8FF; }
}
.navbar-default {
  background-color: transparent;  
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  /*color: white; */
  font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #337ab7; 
}
.transparent-background{
background:#C1FFC1;
padding:20px;
border-radius:20px;
opacity:0.4;
height:200px;
}

.transparent-background-inner{
position:relative;
top:-200px;
padding-left:10px;
padding-right:10px;
}
.alert-danger-custom{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  position:relative;
  top:10px;
  border-radius: 10px;
  padding:5px;
  text-align: center;
}
.alert-transparent{
  color: #3c763d;
  background-color: #C1FFC1;
  border-color: #d6e9c6;
  opacity: 0.4;
   width: 100%;
   height: 60px;
}

.addnewButton{
  position:absolute;
  top:15px;
  left:10%;
  padding: 3px;
}
.btn-block {
  display: block;
  width: 80%;
   padding: 3px;
   margin:0 auto;
}

.resource{
  position:relative;
  list-style: none;
  right:15px;
}

.rightLinks{
  color:#2e6da4;
  cursor: pointer;
}
.animate.ng-enter { 
    -webkit-animation: enter 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
} 
@-webkit-keyframes enter {
  from {
      opacity: 0;
      height: 0px;
      bottom: -70px;
    }
    75% {
      bottom: 15px;
    }
    to {
        opacity: 1;
      height: 30px;
      bottom: 0px;
    }
}
@keyframes enter {
  from {
      opacity: 0;
      height: 0px;
      bottom: -70px;
    }
    75% {
      bottom: 15px;
    }
    to {
        opacity: 1;
      height: 30px;
      bottom: 0px;
    }
}

.animate.ng-leave { 
    -webkit-animation: leave 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
} 
@-webkit-keyframes leave {
  to {
      opacity: 0;
      height: 0px;
      bottom: -70px;
    }
    25% {
      bottom: 15px;
    }
    from {
        opacity: 1;
      height: 30px;
      bottom: 0px;
    }
}
@keyframes leave {
  to {
      opacity: 0;
      height: 0px;
      bottom: -70px;
    }
    25% {
      bottom: 15px;
    }
    from {
        opacity: 1;
      height: 30px;
      bottom: 0px;
    }
}
</style>
</head>  
  
<body ng-app="flapperNews">

<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right" ng-controller="NavCtrl">
            <li role="presentation" ng-show="isLoggedIn()"><a href=""><b>Welcome, {{currentUser()}} <img src={{googleImage()}} alt="" width="25px;" height="20px;" style="border-radius:50px;"/> </b></b></a></li>
            <li role="presentation" ng-show="isLoggedIn()"><a href="/#/logout" ng-click="logOut()"><b>Log Out</b></a></li>
            <li role="presentation" ng-hide="isLoggedIn()"><a href="/#/login"><b>Log In</b></a></li>
            <li role="presentation" ng-hide="isLoggedIn()"><a href="/#/register"><b>Register</b></a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="#" style="font-family: 'Orbitron', sans-serif;color:#4B0082;font-size: 1em"> Resource STOP</a></h3>
      </div>

      <div class="row">
        <ui-view></ui-view>
      </div>

      <footer class="footer">
        <p><i>"Compilation of <a href="mailto:nikkiweat@gmail.com">nikki's</a> top online IT Resources"</i></p>
      </footer>
</div> <!-- /container -->







</body>


<!--=====================================================================================================REGISTER-->
<script type="text/ng-template" id="/register.html">

<div class="transparent-background">
</div>

<div class="transparent-background-inner">
  <div ng-show="error" class="alert-danger-custom">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username" required></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password" required></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  </div>
</script>

<!--=====================================================================================================LOGIN-->
<script type="text/ng-template" id="/login.html">

<div class="transparent-background">
</div>

<div class="transparent-background-inner">
  
   <div ng-show="error" class="alert-danger-custom">
    <span >{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()">
    <h3>Log in</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username" required></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password" required></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
    <a href="auth/google" class="btn btn-danger" style="float:right;"><span class="fa fa-google-plus"></span> Sign in with Google</a>
  </form>
  </div>
  </script>




<!--=====================================================================================================MAIN-->
<script type="text/ng-template" id="/home.html">

<div class="alert alert-success" role="alert" ng-show="isLoggedIn()">
<p class="btn btn-primary btn-block" ng-click="modal()" ng-show="isLoggedIn()">ADD NEW RESOURCE</p>
<!--<button ng-click="modal()" ng-show="isLoggedIn()" class="btn btn-primary btn-block"><b>ADD NEW RESOURCE</b></button> -->
</div>

  
<input type="text" class="form-control" id="filter" style="border:1px solid #337ab7;border-radius:100px;" ng-model="query" placeholder="Filter resources"><br>

<ul ng-repeat="post in posts | filter:query  |orderBy:'-upvotes'" class="resource animate">
<li> 
<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span> {{post.upvotes}}  
<span style="font-size:12px; margin-left:8px;color:purple;"><a ng-show="post.link" style="color:purple;text-transform:uppercase;font-weight:bold;" href="{{post.link}}" target="_blank">{{post.title}}</a> </span>
<span style="font-size:9px;">posted by {{post.author}} </span>

<span style="float:right;padding:1px;" ng-show="isLoggedIn()">
<span class="glyphicon glyphicon-pencil rightLinks" aria-hidden="true" ng-click="modal(post)"></span>
<!--<a href="#/posts/{{post._id}}"><span class="glyphicon glyphicon-comment rightLinks" aria-hidden="true"></span></a>-->
<span class="glyphicon glyphicon-remove rightLinks" aria-hidden="true" ng-click="delete(post)"></span>
</span>
</li>
</ul>

<div ng-hide="isLoggedIn()">
<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a resource</h3>
</div>
</script>
<!--=====================================================================================================NEW POST-->

<script type="text/ng-template" id="newPost.html">
    <form ng-submit="addPost()" ng-show="isLoggedIn()">
        <h3>New resource</h3>

  <span ng-show="status" class="alert-danger">{{ status.message }}</span>

        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Category"
          ng-model="category" required></input>
        </div>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title" required maxlength="38"></input>
        </div>

        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Link"
          ng-model="link" required></input>
        </div>

        <div class="form-group">
          <textarea
          class="form-control"
          placeholder="Info"
          ng-model="info"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" ng-click="closeThisDialog()">Close</button>
      </form>
</script>


<!--=====================================================================================================EDIT POST-->
<script type="text/ng-template" id="editPost.html">
    <form ng-submit="editPost(ngDialogData)" ng-show="isLoggedIn()">
        <h3>Update resource</h3>


    <span ng-show="status" class="alert-success">{{ status.message }}</span>
  

        <div class="form-group">Category:
          <input type="text"
          class="form-control"
          placeholder="Category"
          ng-model="ngDialogData.category"  required></input>
        </div>

        <div class="form-group">Title:
          <input type="text"
            class="form-control"
            ng-model="ngDialogData.title" required maxlength="38"></input>
        </div>

        <div class="form-group">Link:
          <input type="text"
          class="form-control"
          placeholder="Link"
          ng-model="ngDialogData.link" required></input>
        </div>

        <div class="form-group">Info:
          <textarea
          class="form-control"
          placeholder="Info"
          ng-model="ngDialogData.info"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-primary" ng-click="closeThisDialog()">Close</button>
      </form>
</script>


<!--=====================================================================================================RESTRICTED-->
<script type="text/ng-template" id="restricted.html">
<div class="alert alert-danger-custom">
Hey dude, you are not authorized!
</div>
</script>


<!--=====================================================================================================POSTS-->
<script type="text/ng-template" id="/posts.html">
  <div class="page-header">
    <h3>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
  </div>

  <div ng-repeat="comment in post.comments | filter:query | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(comment)"></span>
      
      <span class="glyphicon glyphicon-thumbs-down"  
      ng-click="decrementUpvotes(comment)"></span>
      
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
  </div>
  
    <form ng-submit="addComment()" ng-show="isLoggedIn()"
    style="margin-top:30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
  
  <div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
  </div>
  
</script>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular-animate.min.js"></script>
<script src="/bower_components/ngDialog/js/ngDialog.js"></script>
<script src="/javascripts/angularApp.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>